.header{
    background-color: #fff;
    padding: 0 16px;
}

.header>ul{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 8px;
    list-style: none;
}

.header>ul>li{
    vertical-align: middle;
}

.wallet{
    margin-right: 12px;
    font-weight: bold;
}

.search{
    position: relative;
}

.search>span{
    padding-top: 18px;
}

.links{
    display: flex;
    gap: 24px;
    width:350px;
}

.links>a{

}

.item {
    display: block;
    text-align: center;
    padding: 8px;
    border: 1px solid #f7f7f7;
}

.item img{
    height: 64px;
    width: auto !important;
    max-width: 64px;
    display: block;
}