.meta{
}

.button{
    float: right;
}

.description{
    margin-bottom: 12px;
}

.likes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.likes>span{
display: flex;
gap:6px;
}