.wrap{
    margin-top: 12px;
    background-color: #fff;
    padding: 16px;
}

.info{
    display: flex;
    gap: 16px;
    border-radius: 8px;
    padding: 16px;
}

.coins{
    font-weight: bold;
    margin-left: 8px;
    margin-right: 8px;
}

.tab{
    border: 1px solid #ddd;
    padding: 8px 16px;
    margin-top: 24px;
    margin-bottom: 12px;
}