@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

.site-layout{
  background-color: #EEF1F9 !important;
}

.top{
  display: flex;
  justify-content: end;
  margin-bottom: 24px;
}