.items{
    display: flex;
    gap: 24px;
}

.item{
    border:1px solid #fff;
    padding: 8px 24px;
    border-radius: 16px;
    background-color: #fff;
    cursor: pointer;
}

.item.active{
    background-color: #24AE60;
    color:#fff;
}

.news{
    margin-top: 16px;
}

.bottom{
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}

.avatar{
    display: block;
    margin: auto;
    height: 240px;
    width: 100%;
    background-color: #ccc;

}

.card{
    overflow: hidden;
}