.layout {
  min-height: 100vh;
}

.uiHeader {
  padding: 0 !important;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
  position: sticky;
  top:0;
  z-index: 2;
}

.uiSider {
  box-shadow: 0 0 10px rgb(0 0 0 / 5%) !important;
  -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 5%) !important;
}

.uiSider ul{
  border-inline-end: none !important;
}

.uiContent{
  padding: 16px;
}